<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tvcat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.sunian.baselib.app.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.HomePageWebViewActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
          />
        <activity
            android:name=".LancherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".my.views.VIPChargeActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".my.views.LookHistoryAcitvity" android:screenOrientation="portrait"/>
        <activity android:name=".my.views.VIPHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".my.views.MyWebViewActiviy" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <service android:name=".util.DownLoadService"/>
        <provider android:name="android.support.v4.content.FileProvider" android:authorities="com.tvcat.provider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/path_file"/>
        </provider>
        <activity android:name=".videoplay.PlayVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity android:name=".videoplay.GiraffePlayerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>